* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    margin-left: 90px;
    margin-right: 90px;
    padding: 20px;
    text-align: center;
}

header {
    background: #4CAF50;
    padding: 15px;
    text-align: center;
}

nav ul {
    font-size: 20px;
    list-style: none;
    display: flex;
    justify-content: right;
    gap: 20px;
}

nav ul li:not(:last-child)::after {
    content: "|";
    margin-left: 15px;
    color: white;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.logo p {
    font-size: 20px;    
    color: white;
    margin-bottom: -25px;
    margin-left: 25px;
    display: flex;
    justify-content: left;
}

.cabecalho {
    padding: 50px;
    background: #e2e2e29d;
    border-radius: 8px;
}

.cabecalho img {
    width: 325px;
    height: 325px;
    border-radius: 8px;
    display: inline-block;
}

.cabecalho button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background: #4CAF50;
    color: white;
    cursor: pointer;
}


.cabecalho-texto{
    display: inline-block;
    width: 25%;
    height: auto;
    text-align: left;
    padding: 10px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cabecalho button:hover {
    background: #50b455;
}

.content{
    display: inline-block;
    width: 45%;
    height: auto;
    margin: 10px;
    padding: 20px;
    background: #e8e8e888;
    border-radius: 8px;
}

.content img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
}

.content-text{
    display: inline-block;
    width: 70%;
    height: auto;
    text-align: left;
    padding: 10px;
}

.contato-container {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    max-width: 1000px;
    margin: auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.contato-info, .contato-form {
    flex: 1 1 400px;
    margin: 20px;
}

.contato-info ul {
    list-style: none;
    padding: 0;
}

.contato-info li {
    margin-bottom: 10px;
}

.redes-sociais a {
    display: flex;
    font-size: 25px;
    margin-right: 10px;
    text-decoration: none;
    color: #4CAF50;
}

.contato-form form {
    display: flex;
    flex-direction: column;
}

.contato-form label {
    margin-top: 10px;
    font-weight: bold;
}

.contato-form input, .contato-form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.contato-form button {
    margin-top: 15px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contato-form button:hover {
    background-color: #50b455;
}